<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ApplicationUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ApplicationUI.Properties.Settings>
            <setting name="SilentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PETpath" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartPET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartNP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartGearbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartWorkspace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GearboxWorkspacePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllLogLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MBLogsSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="InstallationPaths" serializeAs="String">
                <value>\\demant.com\data\KBN\RnD\SWS\Build\Arizona\Phoenix\Phoenix.Installer</value>
            </setting>
            <setting name="StartRecording" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllLevelModeInstallation" serializeAs="String">
                <value>False</value>
            </setting>
        </ApplicationUI.Properties.Settings>
    </userSettings>
</configuration>
